<div class="sign-in">
	<div class="wrapper">
		<div class="sign-in-page">
			<div class="signin-popup">
				<div class="signin-pop">
					<div class="row">
						<div class="col-lg-6">
							<div class="cmp-info">
								<div class="cm-logo">
									<p>Where animals lovers and rescuers pet come together to give them a new home for
										little friends</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="login-sec">
								<div class="alert alert-sucess" *ngIf="loginStatus == 'success'">
									Welcome
								</div>
								<div class="alert alert-danger" *ngIf="loginStatus == 'error'">
									Email or Password invald, please type correct Account or <a
										[routerLink]="['/register']">register</a>
								</div>
								<!-- <div class="sign_in_sec current" id="tab-1"> -->
									<div class="sign_in_sec current" id="tab-2">
										<h3>Sign in</h3>
										<form #loginForm="ngForm" (ngSubmit)="loginSubmit()">
											<div class="row">
												<div class="col-lg-12 no-pdd">
													<div class="sn-field">
														<input type="text" name="loginEmail" placeholder="email"
															#loginEmail="ngModel" [(ngModel)]="loginUser.email"
															class="form-control"
															pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" require />
														<i class="la la-globe"></i>
													</div>
												</div>
												<div class="col-lg-12 no-pdd">
													<div class="sn-field">
														<input type="password" name="loginPassword"
															placeholder="Password" #loginPassword="ngModel"
															[(ngModel)]="loginUser.password" class="form-control"
															require />
														<i class="la la-lock"></i>
													</div>
												</div>
												<div class="col-lg-12 no-pdd">
													<div class="checky-sec">
														<div class="fgt-sec">
															<input type="checkbox" name="cc" id="c1">
															<label for="c1">
																<span></span>
															</label>
															<small>Remember me</small>
														</div>
														<a href="#" title="">Forgot Password?</a>
													</div>
												</div>
												<div class="col-lg-12 no-pdd">
													<button type="submit" value="submit">Sign in</button>
												</div>
											</div>
										</form>
										<div class="login-resources">
											<h4>Login Via Social Account</h4>
											<ul>
												<li><a href="#" title="" class="fb"><i class="fa fa-facebook"></i>Login
														Via
														Facebook</a></li>
												<li><a href="#" title="" class="tw"><i class="fa fa-twitter"></i>Login
														Via
														Twitter</a></li>
											</ul>
										</div>
									</div>
								<!-- </div> -->
							</div>
						</div>
					</div>
				</div>
				<div class="footy-sec">
					<div class="container">
						<ul>
							<li><a href="#" title="">Help Center</a></li>
							<li><a href="#" title="">Privacy Policy</a></li>
							<li><a href="#" title="">Community Guidelines</a></li>
							<li><a href="#" title="">Cookies Policy</a></li>
							<li><a href="#" title="">Career</a></li>
							<li><a href="#" title="">Forum</a></li>
							<li><a href="#" title="">Language</a></li>
							<li><a href="#" title="">Copyright Policy</a></li>
						</ul>
						<p>
							<!-- <img src="assets/imagescopy-icon.png" alt=""> -->
							Copyright 2018
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>