<div class="sign-in">
	<div class="rapper">
		<div class="sign-in-page">
			<div class="signin-popup">
				<div class="signin-pop">
					<div class="row">
						<div class="col-lg-6">
							<div class="cmp-info">
								<div class="cm-logo">
									<!-- <img src="assets/imagescm-logo.png" alt=""> -->
									<p>Where animals lovers and rescuers pet come together to give them a new home for little friends</p>
								</div>
								<!-- <img src="assets/imagescm-main-img.png" alt="">			 -->
							</div>
						</div>
						<div class="col-lg-6">
							<div class="login-sec">
								<ul class="sign-control">
									<li data-tab="tab-1"> <a href="#" title="">Sign in</a></li>
									<li data-tab="tab-2" class="current"><a href="#" title="">Sign up</a></li>
								</ul>
								<div class="sign_in_sec current" id="tab-2">
									<div class="dff-tab current" id="tab-3">
										<h3>Sign up</h3>
										<form #registerForm="ngForm" (ngSubmit)="registerSubmit(registerForm)">
											<div class="row">
												<div class="col-lg-12 no-pdd">
													<div class="sn-field">
														<input type="text" name="name" placeholder="Name" #name="ngModel" [(ngModel)]="registerUser.name"class="form-control" require />
														<i class="la la-user"></i>
													</div>
												</div>
												<div class="col-lg-12 no-pdd">
													<div class="sn-field">
														<input type="text" name="surname" placeholder="Surname" #name="ngModel" [(ngModel)]="registerUser.surname"class="form-control" require />
														<i class="la la-user"></i>
													</div>
												</div>
												<div class="col-lg-12 no-pdd">
													<div class="sn-field">
														<input type="text" name="nick" placeholder="Nick" #name="ngModel" [(ngModel)]="registerUser.nick" class="form-control" require />
														<i class="la la-user"></i>
													</div>
												</div>
												<div class="col-lg-12 no-pdd">
													<div class="sn-field">
														<input type="text" name="email" placeholder="email" #name="ngModel" [(ngModel)]="registerUser.email" class="form-control" require pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
														<i class="la la-globe"></i>
													</div>
												</div>
												<div class="col-lg-12 no-pdd">
													<div class="sn-field">
														<input type="password" name="password" placeholder="Password" #name="ngModel" [(ngModel)]="registerUser.password" class="form-control" require />
														<i class="la la-lock"></i>
													</div>
												</div>
												<div class="col-lg-12 no-pdd">
													<div class="checky-sec st2">
														<div class="fgt-sec">
															<input type="checkbox" name="cc" id="c2">
															<label for="c2">
																<span></span>
															</label>
															<small>Yes, I understand and agree to the workwise Terms &
																Conditions.</small>
														</div>
													</div>
												</div>
												<div class="col-lg-12 no-pdd">
													<button type="submit" value="submit">Get Started</button>
													<!-- <input type="submit" value="Get Started" class="submit-button" /> -->
												</div>
											</div>
										</form>
										<div class="alert alert-sucess" *ngIf="registerStatus == 'success'">
											Register is complete, <a [routerLink]="['/login']">Login</a>
										</div>
										<div class="alert alert-danger" *ngIf="registerStatus == 'error'">
											Register is not complete, maybe the email or nickaname already exist
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footy-sec">
				<div class="container">
					<ul>
						<li><a href="#" title="">Help Center</a></li>
						<li><a href="#" title="">Privacy Policy</a></li>
						<li><a href="#" title="">Community Guidelines</a></li>
						<li><a href="#" title="">Cookies Policy</a></li>
						<li><a href="#" title="">Career</a></li>
						<li><a href="#" title="">Forum</a></li>
						<li><a href="#" title="">Language</a></li>
						<li><a href="#" title="">Copyright Policy</a></li>
					</ul>
					<p>
						<!-- <img src="assets/imagescopy-icon.png" alt=""> -->
						Copyright 2018
					</p>
				</div>
			</div>
		</div>
	</div>
</div>